body {
	background-color: lightgray;
}

table {
	width: 110%;
}

.button_left {
	padding: 0.2em;
	margin: 0.2em;
	background: none;
	color: royalblue;
}

.button_right {
	padding: 0.2em;
	margin: 0.2em;
	background: none;
	color: royalblue;
}

.buttons {
	width: 100px;
}

.center {
	text-align: center;
	vertical-align: middle;
}

.propSize {
	font-size: 13px;
}
