
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Persona Modificada</title>
</head>
<body>
    <p>Estos son tus datos modificados:</p>

</body>
</html>
