
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>listado</title>
</head>
<body>
	<div>
		<ul>
			<li type="circle">Producto 1</li>
			<li type="circle">Producto 2</li>
			<li type="circle">Producto 3</li>
			<li type="circle">Producto 4</li>
			<li type="circle">Producto 5</li>
			<li type="circle">Producto 6</li>
		</ul>
	</div>
</body>
</html>
