
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Visor Persona</title>
</head>
<body>
	<h2>Home</h2>
    <div>
		<p>Hola, la Fecha Actual es:  @ViewData["Fecha"]</p>
    </div>
</body>
</html>
