<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link href="../Content/Custom.css" rel="stylesheet" />
		<link href="../Content/Custom3.css" rel="stylesheet" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="../Scripts/Programacion.js"></script>
		<title>CRUD Personas AJAX</title>
	</head>
	<body>
		<div class="row">
			<h1>CRUD Personas</h1>
			<p><a href="#"><i class="fa fa-plus-square"></i> Añadir Persona</a></p>
			<div id="divTabla">

			</div>
		</div>
	</body>
</html>

<!--fa fa-save-->